.carousel-inner {
  text-align: center;
}

.carousel-inner img {
  width: 25%;
  margin: 0 50px 200px 50px;
}

body {
  text-align: center;
  min-height: 100vh;
  padding: 0;
}

button {
  margin-bottom: 10px;
}